:root {
    --themeColor1: #FFD700;
    --themeColor2: #3CB371;
    --themeColor3: #006400;
}

@font-face {
    font-family: 'themeFont1';
    src: url('Montserrat-VariableFont_wght.ttf');
}

body{
    font-family: 'themeFont1', Arial, Helvetica, sans-serif;
}

.Btn {
    transition: transform 0.3s ease-in-out;
}

.Btn:hover {
    background-color: #f5d105;
    cursor: pointer;
    transform: scale(1.05)
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Section 1 styles */

#sec1 {
    display: flex;
    flex-direction: column;
    height: 80vh;
    font-family: 'themeFont1', Arial, Helvetica, sans-serif;
    background-image: url('sec1.jpg');
    background-color: rgba(59, 57, 57, 0.8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 40px;
    margin-bottom: 40px;
    overflow-x: hidden;
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    padding: 10px;
    color: #ffff;
    position: fixed;
    top: 0;
    background-color: hidden;
    transition: background-color 0.1s;
    overflow-x: hidden;
}

nav.scrolled {
    background-color: rgba(59, 57, 57, 0.3); 
}

nav h3 {
    margin-left: 5%;
    align-self: center;
}

nav ul {
    display: flex;
    margin-left: 30%;
    justify-content: center;
    align-self: center;
    cursor: pointer;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #ffff;
    padding-bottom: 5px;
}

nav ul li a:hover {
    border-bottom: 1px solid #ffff;
}

.active {
    border-bottom: 2px solid #ffff;

}

.logoBtn {
    margin-left: 10%;
    color: #ffff;
    background-color: #FFD700;
    padding: 8px;
    text-align: center;
    width: 70px;
    overflow-x: hidden;
    
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    padding-top: 200px;
    color: #ffff;
    background-color:rgba(59, 57, 57, 0.4);
}

main h2 {
    text-align: center;
}

main a {
    margin-top: 20px;
    color: #ffff;
    background-color: #FFD700;
    padding: 5px;
    text-align: center;
    width: 15vw;
    height: 5vh;
}

.aside {
    font-size: smaller;
    margin-top: 0;
    color: #ffff;
    background-color:rgba(59, 57, 57, 0.3);
}

.aside p {
    margin-left: 5%;
}

/* Section 2 styles */

#sec2 {
    height: 60vh;
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
}

#sec2 div {
    margin-left: 5%;
    margin-right: 50px;
}

#sec2 div h2{
    line-height: 100%;
    font-size: 2rem;
    margin-bottom: 50px;
    color: var(--themeColor2);
}

#sec2 div a {
    margin-top: 20px;
    color: #ffff;
    background-color: #FFD700;
    padding: 5px;
    text-align: center;
    width: 15vw;
    height: 5vh;  
    display: block;
}


#sec2  img{
    margin-left: 120px;
    height: 100%;
    width: 50vw;
    margin-right: 5%;
    border: 1px solid var(--themeColor2);
}

/* Section 4 styles */

#sec4 {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#sec4 h2 {
    text-align: center;
    color: var(--themeColor2);
    margin-bottom: 10px;
}

#sec4 hr {
    border-bottom: 1px solid var(--themeColor2);
    width: 20vw;
    align-self: center;
    margin-bottom: 30px;
    overflow-x: hidden;
}

#sec4 .servicesList img {
    transition: transform 0.3s ease-in-out;
    }
    
    #sec4 .servicesList img:hover {
        cursor: pointer;
        transform: scale(1.05)
}

#sec4 .servicesList {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4, fr);
    gap: 100px;
    grid-template-areas: 
    "img1 img2 img3 img4";
    margin-top: 20px;
    cursor: pointer;
}

.cropPrediction {
    grid-area: img1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3CB371;
}

.onlineMarketPlace {
    grid-area: img2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3CB371;
}

.contractTracking {
    grid-area: img3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3CB371;
}

.secureStorage {
    grid-area: img4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3CB371;
}

.servicesList p {
    margin-top: 10px;
    cursor: pointer;
}


.servicesList p:hover {
    color: rgb(153, 152, 152);
}

/* Section 5 styles */

#sec5 {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

#sec5 h2 {
    text-align: center;
    color: var(--themeColor2);
    margin-bottom: 10px;
}

#sec5 hr {
    border-bottom: 1px solid var(--themeColor2);
    width: 30vw;
    align-self: center;
    margin-bottom: 30px;
    overflow-x: hidden;
}

#sec5 .featuredLists {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4, fr);
    gap: 5px;
    grid-template-areas: 
    "img1 img2 img3 img4";
    margin-top: 20px;
    cursor: pointer;
}

.Predictor {
    grid-area: img1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3CB371;
}

.Market {
    grid-area: img2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3CB371;
}

.Tracking {
    grid-area: img3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3CB371;
}

.Storage {
    grid-area: img4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3CB371;
}

.Predictor  img{
    background-image: url(featuredPred.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Market img {
    background-image: url(featuredMarket.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Tracking img {
    background-image: url(featuredTracking.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Storage  img{
    background-image: url(featuredStorage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.featuredLists h3, .featuredLists p {
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}

#sec5 .featuredLists div img {
    transition: transform 0.3s ease-in-out;
    }
    
#sec5 .featuredLists div img:hover {
        cursor: pointer;
        transform: scale(1.05)
}

.featuredLists div img {
    width: 120px;
    height: 120px;
    background-color: #b28fe7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
  }

  .featuredLists p {
    word-wrap: break-word;

  }

  .featuredLists p:hover {
    color: rgb(153, 152, 152);
    
  }

  .featuredLists div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 5%;
  }

/* Section 6 styles */

  #sec6 {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
  }

  #sec6 h2 {
    color: #3CB371;
    text-align: center;
  }

  #sec6 .img {
    width: 100%;
    height: 90vh;
    background-color: #ffff;
    margin: 30px 0;
    background-image: url(tec2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #sec6 .buttons {
    margin-top: 10px;
    display: flex;
    align-self: center;
  }

  .contact-Us, .learn-More{
    color: #ffff;
    background-color: #FFD700;
    padding: 5px;
    text-align: center;
    width: 15vw;
    height: 5vh;
    margin-right: 10px;
  }

  .learn-More {
    background-color: #3CB371;
  }

  .learn-More:hover {
    background-color: #38c075;
  }

  #sec7 {
    height: 80vh;
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    color:var(--themeColor2);
  }

#sec7 .left {
    margin-left: 5%;
    margin-right: 50px;
}

#sec7  .benefitsLists{
    margin-left: 200px;
    height: 100%;
    width: 30vw;
    margin-right: 5%;
    background-color: var(--themeColor2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    justify-content: center;
    align-content: center;
    color: #ffff;
}

#sec7  .benefitsLists div {
    display: flex;
    margin-bottom: 20px;
}

#sec7  .benefitsLists div img{
    margin-right: 30px;
    width: 57px;
    height: 60px;
    align-self: center;
    background-color: #ffff;
    border-radius: 50%;
    padding: 5px;
    transition: transform 0.3s ease; 
    cursor: pointer;
}

#sec7  .benefitsLists div img:hover {
    animation: rotateImage 2s;
}

@keyframes rotateImage {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

#sec7  .benefitsLists div p {
    align-self: center;
    text-align: center;
    cursor: pointer;
}

#sec7  .benefitsLists div p:hover {
    color: rgb(190, 189, 189);
}



#sec7 .left a {
    margin-top: 40px;
    color: #ffff;
    background-color: var(--themeColor2);
    padding: 5px;
    text-align: center;
    width: 12vw;
    height: 5vh;  
    display: block;
}

#sec7 .left a:hover {
    background-color: #38c075;
}

footer {
    height: 50vh;
    padding: 30px 10px;
    background-color: var(--themeColor3);
    display: flex;
    justify-content: flex-start;
    color: #ffff;
    align-items: center;
    overflow: hidden;
    
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 50%;
}

.info h4, .info p{
    margin-bottom: 20px;
}

.pages h4, .about h4{
    margin-bottom: 20px;
}

.info p {
    cursor: pointer;
}

.pages p, .about p{
    margin-bottom: 10px;
    cursor: pointer;
}

.about {
    margin-right: 5%;
    margin-left: 50px;
}

.pages p:hover, .about p:hover {
    color: rgb(153, 152, 152);
}

.info img {
    width: 180px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.info img:hover {
    transform: scale(1.05)
}

/* Stes for toggle button */

.toggle-btn {
  margin-right: 80%;
  width: 50px;
  height: 30px;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 13px;
  overflow: hidden;
}

aside {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50px;
  height: calc(100vh - 59px);
  background-color: var(--themeColor2);
  padding: 0 10px;
  z-index: 100000;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

aside ul {
  padding-top: 15px;
  overflow: hidden;
  visibility: hidden;
}

aside ul li {
  line-height: 60px;
  list-style: none;
}

aside ul li span {
  opacity: 0;
}

aside ul li .log {
    margin-top: 300px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

aside ul li .log:hover {
    color: rgb(153, 152, 152); 
    transform: scale(1.05);
}
   

aside ul li a {
  display: block;
  height: 50px;
  padding: 0 10px;
  color: #ffff;
  white-space: nowrap;
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

aside ul li a:hover {
  background-color: rgba(4, 117, 70, 0.3);
}

/* Styles for responsiveness */


@media(max-width: 1027px) {
    nav ul {
        display: flex;
        margin-left: 15%;
        justify-content: center;
        align-self: center;
        cursor: pointer;
    }
    
    nav ul li {
        margin-right: 20px;
    }
    

    .logoBtn {
        margin-left: 10%;
        color: #ffff;
        background-color: #FFD700;
        padding: 8px;
        text-align: center;
        width: 70px;
    }
    
    .info {
        margin-right: 30%;
    }
    
    #sec7  .benefitsLists div p {
        text-align:left;
    }

    #sec2 div h2{
        font-size: 1.8rem;
        margin-bottom: 40px;
    }

}


@media (max-width: 925px) {
    #sec2  img{
        margin-left: 120px;
        height: 100%;
        width: 40vw;
        margin-right: 5%;
        border: 1px solid var(--themeColor2);
    }

    #sec2 div h2{
        font-size: 1.8rem;
        margin-bottom: 30px;
    }

    #sec4 {
        padding: 50px 40px;
    }
    
    #sec4 .servicesList {
        align-self: center;
        display: grid;
        grid-template-columns: repeat(4, fr);
        gap: 60px;

    }

    #sec5 {
        padding: 30px 15px;
    }

}
    
 @media (max-width: 881px) {

    #sec5 {
        padding: 20px 5px;
    }
        
    
    #sec5 .featuredLists {
        gap: 3px;
    }
    
    .featuredLists div img {
        width: 100px;
        height: 100px;
      }

    
    
}

@media (max-width: 869px) {

    #sec5 .featuredLists {
        row-gap: 50px;
        grid-template-areas: 
        "img1 img2" 
        "img3 img4";

    }

    #sec4 .servicesList {
        row-gap: 50px;
        grid-template-areas: 
        "img1 img2" 
        "img3 img4";
    }

    #sec4 {
        padding: 30px 40px;
    }

    #sec5 {
        margin-bottom: 50px;

    }
    .featuredLists p {
        word-wrap: break-word;
        max-lines: 20px;

      }

      #sec7 .left a {
        width: 18vw;
      }
    
    
}

@media (max-width: 850px) {

    .aside {
        font-size:x-small;
    }


    .logoBtn {
        margin-left: 5%;
    }

    #sec2 div h2{
        margin-bottom: 30px;
        font-size: 1.5rem;
    }

    #sec4 {
        padding: 50px 40px;
    }
    
    #sec4 .servicesList {
        align-self: center;
        display: grid;
        grid-template-columns: repeat(4, fr);
        gap: 60px;

    }

    #sec5 {
        padding: 30px 15px;
    }

    #sec7  .benefitsLists{
        margin-left: 200px;
        height: 100%;
        width: 30vw;
        margin-right: 5%;
        background-color: var(--themeColor2);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 10px 30px;
        justify-content: center;
        align-content: center;
        color: #ffff;
    }

}

@media (max-width: 780px) {

    nav ul, nav a {
        display: none;
    }

    nav {
        justify-content: center;
        align-items: center;
    }

    .toggle-btn {
        display: block;
    }
    
    #sec7  .benefitsLists div img{
        margin-right: 10px;
    }

    #sec2  img{
        width: 50vw;
        margin-right: 120px;

    }

    #sec2 {
        flex-wrap: wrap-reverse;
        margin-top: 200px;
        justify-content: center;

    }

    #sec2 div {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #sec2 div h2{
        text-align: center;
        font-size: 1.8rem;

    }
}

@media (max-width: 730px) {
    #sec7 .left h2 {
        font-size: 1.4rem;
    }
}

@media (max-width: 715px) {
     
    #sec7 {
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }

    #sec7 .benefitsLists {
    height: 40vh;
    margin-top: 20px;
    width: 80vw;
    margin-right: 180px;
    align-self: center;
    background-color: var(--themeColor2);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 20px;
    grid-template-areas: 
    "b1 b2"
    "b3 b4";
    }

    .cropProd {
        grid-area: b1;
    }

    .income {
        grid-area: b2;
    }

    .fraud {
        grid-area: b3;
    }

    .secure {
        grid-area: b4;
    }

    #sec7 .left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 30px;

    }

    #sec7 .left h2{
       align-self: center;
       text-align: center;
    }

    footer .info {
        margin-right: 20%;
    }
}

@media (max-width: 680px) {
    .Btn {
        font-size: smaller;
    }

    #sec2 img {
        width: 150vw;
    }
}

@media (max-width: 625px) {

    footer .info, .about, .pages {
        margin: 0%;
        padding: 0%;
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        height: 120vh;
        padding: 50px 20px;
    }

    footer .info, .pages, .about {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-self: center;
        text-align: center;
        margin-bottom: 30px;
    }

    footer .info {
        margin-top: 50px;
    }
}

@media (max-width: 580px) {
    .Btn {
        width: 15vw;
        font-size: xx-small;
        padding: 8px;

    }
}

@media (max-width: 525px) {
    .Btn {
        width: 15vw;
        font-size: xx-small;
        padding: 8px;

    }

    #sec4 .servicesList {

        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4";
    }

    #sec5 .featuredLists {
        align-self: center;
        display: grid;
        grid-template-columns: repeat(4, fr);
        gap: 5px;
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4";
        margin-top: 20px;
        cursor: pointer;
    }

    #sec5 .featuredLists div img {
        margin-top: 10px;
    }

    #sec7 {
        margin-top: 200px;
    }

    #sec7  .benefitsLists{
       height: 60vh;
    }

    #sec7  .benefitsLists div {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #sec7  .benefitsLists div p{
        text-align: center;
        margin-top: 10px;
    }

    #sec7  .benefitsLists {
        row-gap: 10px;
}

}

@media (max-width: 465px) {
    .aside {
        font-size: xx-small;
    }

    #sec6 .buttons {
        flex-direction: column;
      }

      #sec6 .buttons .learn-More {
        margin-top: 10px;
      }

      .Btn {
        width: 18vw;
      }

      main h2, main p, #sec2 div h2{
        word-wrap: break-word;
        text-align: center;
      }


}

@media (max-width: 380px) {
    nav .logoBtn {
        display: none;
    }
}

@media (max-width: 375px) {


      .Btn {
        display: block;
        width: 22vw;
      }

      #sec2  img{
        width: 80vw;
    }

    #sec1 {
        height: 100vh;
    }

    #sec2 div a {
        width:24vw;
    }

}